.btn-default {
  padding: 6px 0;
  background-color: #05386b;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    @extend .btn-default;
  }
}
