@import '../../styles/variables';

.list-group-item.active {
  a {
    color: white;
  }
}

.list-group-item-info {
  a {
    color: $color-text-info;
    word-break: break-all;
  }
}

.list-group-item-secondary {
  a {
    color: $color-text-secondary;
    word-break: break-all;
  }
}
