article {
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  padding: 0 18px;
  ul {
    padding-left: unset;
    list-style-type: none;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 5px;
      border-bottom: 1px solid #5cdb95;
      background-color: #05386b;
      &.done {
        text-decoration: line-through;
      }
      p {
        margin: 0;
      }
    }
    .spinner-box {
      min-height: 60vh;
    }
  }
}
