@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin modal {
  z-index: 1060;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(100, 100, 100, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  .card {
    border: none;
    width: 600px;
    max-width: 90%;
    .close-icon {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
    .card-header {
      border: none;
    }
  }
}
