@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

header {
  //@include flex-space-between;
  nav {
    a {
      color: #ffffff;
      &:hover {
        @extend a;
      }
      &.active {
        color: $color-warning;
        font-weight: bold;
      }
    }
  }
}
